.secaoHero {
  height: calc(100vh - 60px);
}

.secaoHero a {
  font-size: var(--tamanho-texto-btn-hero);
}

.containerHero {
  justify-content: center;
  flex-direction: column;
  align-items: center;
  display: flex;
  height: 100%;
  gap: 40px;
}

.conteudoHero {
  flex-direction: column;
  align-items: center;
  text-align: center;
  display: flex;
  gap: 20px;
}

.conteudoHero h1 {
  font-size: var(--tamanho-titulo);
  text-shadow: var(--sombra-card);
  line-height: 34px;
}

.conteudoHero p {
  font-size: var(--tamanho-texto-hero);
}

@media (min-width: 1024px) {
  .secaoHero {
    height: 100vh;
  }

  .conteudoHero h1 {
    line-height: 104px;
  }

  .conteudoHero p {
    max-width: 800px;
    margin-top: 20px;
    width: 100%;
  }
}
