.containerCard {
  border: 1px solid var(--cor-texto);
  box-shadow: var(--sombra-card);
  border-radius: 10px;
  max-width: 400px;
  height: 550px;
  width: 100%;
}

.containerCardImagem {
  background-color: var(--cor-fundo-card-solucoes);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 50%;
}

.cardDescricao {
  background-color: var(--cor-fundo-card-projetos);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  align-items: flex-start;
  flex-direction: column;
  display: flex;
  padding: 20px;
  height: 50%;
  gap: 30px;
}

.cardDescricao h3 {
  font-size: var(--tamanho-titulo-card);
  font-weight: 700;
}

.containerTags {
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
}

@media (min-width: 1440px) {
  .containerCard {
    max-width: 500px;
  }
}
