.header {
  background-color: var(--cor-fundo-bg);
  align-items: center;
  position: fixed;
  height: 60px;
  z-index: 998;
  width: 100%;
}

.container_header {
  justify-content: space-between;
  align-items: center;
  display: flex;
  height: 100%;
}

.logo {
  width: var(--tamanho-logo);
}

.icon_menu {
  width: var(--tamanho-icones-menu);
  cursor: pointer;
}

.header_mobile button {
  background-color: transparent;
  border: none;
}

.header_desktop {
  display: none;
}

@media (min-width: 1024px) {
  .header {
    height: 80px;
  }

  .header_mobile {
    display: none;
  }

  .header_desktop {
    display: flex;
  }

  .containerLinks {
    align-items: center;
    display: flex;
    gap: 20px;
  }

  .containerLinks ul {
    list-style: none;
    display: flex;
    gap: 20px;
  }

  .containerLinks ul a {
    font-size: var(--tamanho-texto-btn-hero);
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
  }

  .containerLinks ul a:hover {
    color: var(--cor-destaque);
    opacity: 0.7;
  }
}
