.containerSolucoes {
  flex-direction: column;
  align-items: center;
  display: flex;
  gap: 50px;
}

.containerSolucoes header h2 {
  font-size: var(--tamanho-subtitulo);
  font-weight: 500;
}

.containerCards {
  flex-direction: column;
  display: flex;
  gap: 45px;
}

@media (min-width: 1024px) {
  .containerCards {
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
  }
}
